@using cvDigiCore.ViewModels;
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}


<body class="text-center">
    <form class="form-signin" method = "post" asp-controller = "Account" asp-action = "Login" >
        <img class="mb-4" src="~/Asset1logo.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(m => m.RememberMe)
                </label>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <!--<p>No account?<a class="nav-link" asp-controller="account" asp-action="register">Create one here.</a></p>-->
    </form>
</body>


