@{
    ViewData["Title"] = "Home Page";
}

    <div class="index">
        

        <div class="container index-cont">

            <div class="row no-gutters tiles">
                <div class="col-md-12 header-cont">
                    <h1>Curtis Vannor</h1>

                    <p class="subtitle">Engineering Grad | Developer | Creative</p>
                    <a asp-area="" asp-controller="Home" asp-action="Contact" class="custom-button">Reach Out</a>
                </div>
                       
            </div>
            <div class="row cards">
                <div class="col-md-4">
                    <div class="card card-1">
                        <a class="tile-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <div class="card-body">
                                <img src="~/assets/noun_programming_2886490 (1).svg" />
                                <h6 class="card-title">Software Engineering</h6>
                                <p class="card-text">I implement efficient software strategies.</p>

                            </div>
                        </a>
                        <a asp-area="" asp-controller="Home" asp-action="Portfolio" class="custom-button">Take A Look</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-2">
                        <a class="tile-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <div class="card-body">
                                <img src="~/assets/noun_tesla tower_648129.svg" />
                                <h6 class="card-title">Electrical Engineering</h6>
                                <p class="card-text">I use engineering knowledge to develop meaningful solutions.</p>

                            </div>

                        </a>
                        <a asp-area="" asp-controller="Home" asp-action="Portfolio" class="custom-button">Take A Look</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-3">
                        <a class="tile-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <div class="card-body">
                                <img src="~/assets/noun_other devices_1492679.svg" />
                                <h6 class="card-title">Development</h6>
                                <p class="card-text">I develop intuitive web and mobile applications.</p>

                            </div>
                        </a>
                        <a asp-area="" asp-controller="Home" asp-action="Portfolio" class="custom-button">Take A Look</a>
                    </div>

                </div>

            </div>
            
            <!--<div class="row no-gutters tiles-2">
        <div class="col-md-4">
            <a class="tile-link" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="tile tile-1">
                    <h4>Reach Out</h4>
                    <i class="fas fa-arrow-right"></i>
                </div>

            </a>

        </div>
        <div class="col-md-4">
            <a class="tile-link" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="tile tile-2">
                    <h4>Check My Resume</h4>
                    <i class="fas fa-arrow-right"></i>
                </div>

            </a>

        </div>
        <div class="col-md-4">
            <a class="tile-link" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="tile tile-3">
                    <h4>See All Of My Work</h4>
                    <i class="fas fa-arrow-right"></i>
                </div>

            </a>

        </div>
    </div>-->
        </div>
    </div>