@model cvDigiCore.Models.Profile
@{
    ViewData["Title"] = "Resume";
}
    <div class="resume-wrapper">
        <h1 style="color:black;">Resume</h1>
        <iframe class="doc" src="~/fileDirectory/Profile/123-@Model.Resume"></iframe>

    </div>

